In [3]:
pip install mysql-connector-python==8.0.30

Collecting mysql-connector-python==8.0.30
  Downloading mysql_connector_python-8.0.30-cp39-cp39-win_amd64.whl (7.8 MB)
     ---------------------------------------- 7.8/7.8 MB 3.2 MB/s eta 0:00:00
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\anush\anaconda3\lib\site-packages (from mysql-connector-python==8.0.30) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector
from mysql.connector import Error
import csv

In [2]:
import os
import shutil
import requests
from urllib.request import urlretrieve
from bs4 import BeautifulSoup

In [4]:
url1="https://www.nseindia.com/market-data/securities-available-for-trading"

In [ ]:
import requests

URL ="https://archives.nseindia.com/content/equities/EQUITY_L.csv"
response = requests.get(URL)

In [ ]:
 open("EQUITY_L.csv", "wb").write(response.content)

In [ ]:
url2="https://archives.nseindia.com/content/historical/EQUITIES/2022/OCT/cm07OCT2022bhav.csv.zip"

In [ ]:
response = requests.get(url2)
open("cm07OCT2022bhav.csv", "wb").write(response.content)

In [21]:
conn=mysql.connector.connect(host='127.0.0.1',
                                         port='3306',
                                         database='EQUITY_L',
                                         user='root',
                                         password='Sandstone@34')

In [88]:
with open('C:/Users/anush/Videos/zing42/EQUITY_L.csv') as equity:
    f=csv.reader(equity)
    vals=[]
    for r in f:
        v=(r[0],r[1],r[2],r[3],r[4],r[5],r[6],r[7])
        vals.append(v)

In [105]:
b=vals[1:]

In [23]:
df=pd.read_csv('C:/Users/anush/Videos/zing42/EQUITY_L.csv')

In [22]:
cursor=conn.cursor()

In [35]:
df.head()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,PAID UP VALUE,MARKET LOT,ISIN NUMBER,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5,1,INE144J01027,5
1,21STCENMGM,21st Century Management Services Limited,EQ,03-MAY-1995,10,1,INE253B01015,10
2,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10,1,INE748C01038,10
3,3MINDIA,3M India Limited,EQ,13-AUG-2004,10,1,INE470A01017,10
4,3PLAND,3P Land Holdings Limited,EQ,19-JUL-1995,2,1,INE105C01023,2

In [25]:
df.columns

Index(['SYMBOL', 'NAME OF COMPANY', ' SERIES', ' DATE OF LISTING',
       ' PAID UP VALUE', ' MARKET LOT', ' ISIN NUMBER', ' FACE VALUE'],
      dtype='object')

In [102]:
cursor.execute("create table equity (`SYMBOL` varchar(150), `NAME_OF_COMPANY`  varchar(150), `SERIES` varchar(150),  `DATE OF LISTING` varchar(50),  `PAID UP VALUE` INT,   `MARKET LOT` int,  `ISIN NUMBER` varchar(150),  `FACE VALUE` int)")

In [104]:
#for r in df.itertuples():
cursor.executemany('''INSERT INTO equity(`SYMBOL`, `NAME OF COMPANY`, `SERIES`, `DATE OF LISTING`,`PAID UP VALUE`, `MARKET LOT`, `ISIN NUMBER`, `FACE VALUE`) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)''',b) 
conn.commit()

In [122]:
with open("C:/Users/anush/Videos/zing42/cm07OCT2022bhav.csv/cm07OCT2022bhav.csv") as cm0:
    f2=csv.reader(cm0)
    vals=[]
    for r in f2:
        v=(r[0],r[1],r[2],r[3],r[4],r[5],r[6],r[7],r[8],r[9],r[10],r[11],r[12])
        vals.append(v)

In [124]:
b=vals[1:]

In [107]:
df=pd.read_csv('C:/Users/anush/Videos/zing42/cm07OCT2022bhav.csv/cm07OCT2022bhav.csv')

In [112]:
df.head()

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES,ISIN,Unnamed: 13
0,1018GS2026,GS,112.00,112.00,112.00,112.00,112.00,111.73,1,112.0,07-OCT-2022,1,IN0020010081,NaN
1,20MICRONS,EQ,99.00,101.95,97.55,100.40,100.20,98.60,142139,14210661.5,07-OCT-2022,3123,INE144J01027,NaN
2,21STCENMGM,EQ,23.00,23.50,23.00,23.50,23.50,23.05,4735,110724.5,07-OCT-2022,31,INE253B01015,NaN
3,364D060723,TB,95.15,95.15,95.15,95.15,95.15,94.50,30000,2854500.0,07-OCT-2022,43,IN002022Z143,NaN
4,364D070923,TB,95.00,95.00,95.00,95.00,95.00,94.50,1000,95000.0,07-OCT-2022,1,IN002022Z234,NaN

In [113]:
df.columns

Index(['SYMBOL', 'SERIES', 'OPEN', 'HIGH', 'LOW', 'CLOSE', 'LAST', 'PREVCLOSE',
       'TOTTRDQTY', 'TOTTRDVAL', 'TIMESTAMP', 'TOTALTRADES', 'ISIN',
       'Unnamed: 13'],
      dtype='object')

In [127]:
cursor.execute("create table cm07 (`SYMBOL` varchar(100), `SERIES` varchar(50), `OPEN` float, `HIGH` float, `LOW` float, `CLOSE` float, `LAST` float, `PREVCLOSE` float,`TOTTRDQTY` int, `TOTTRDVAL` float, `TIMESTAMP` varchar(50), `TOTALTRADES` int, `ISIN` varchar(150))")

In [128]:
cursor.executemany('''INSERT INTO cm07(`SYMBOL`, `SERIES`, `OPEN`, `HIGH`, `LOW`, `CLOSE` , `LAST`, `PREVCLOSE` ,`TOTTRDQTY`, `TOTTRDVAL` , `TIMESTAMP`, `TOTALTRADES`, `ISIN`) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)''',b)